/*styles go here*/

/*p {
    color: red;
}*/

.content {
    max-width: 500px;
    margin: auto;
}

body {
  background-color: green;
    margin: auto;
    width: 50%;
    border: 10px solid red;
    font-size: 20px;
    text-align: left;
    padding: 10px;}

p {
	color: #666576;
    font-family: Comic serif, Courier, sans-serif;
    font-weight: bolder;
    color: cyan;
}

h1 {
    font-family: Arial, "Book Antiqua", serif;
    font-size: 50px;
    font-weight: lighter;
  color: yellow;
  text-align: center;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #FF00FF;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Georgia, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none; }
